---
import Social from "../components/Social.astro";
import Team from "../components/Team.astro";
import Layout from "../layouts/Layout.astro";

const teams = [
  {
    name: "Celestine John Kenneth",
    position: "Scientific Advisor",
    image: "celestin.jpeg",
  },
  {
    name: "Jonathan Edward",
    position: "Scientific Advisor",
    image: "jonathan.jpeg",
  },
  {
    name: "Judeson George",
    position: "Scientific Advisor",
    image: "judeson.jpeg",
  },
  {
    name: "Christo Jackson",
    position: "Content Creator and Social Media Manager",
    image: "christo.jpeg",
  },
  {
    name: "Ashly Augustine",
    position: "Content Creator",
    image: "ashly.jpg",
  },
  {
    name: "Augustine Ashal",
    position: "Community Manager",
    image: "augustine.jpg",
  },
  {
    name: "Reynold Stephen",
    position: "Legal Advisor",
    image: "reynold.jpeg",
  },
];
---

<Layout
  title="About"
  description="Kroenger is a not-for-profit organization that envisaged creating a network of sustainability enthusiasts."
  activePage="about"
>
  <div class="p-4 lg:ml-24 sm:mb-16 lg:mb-0">
    <h1 class="text-center font-bold text-3xl md:text-5xl mt-8">About Kroenger</h1>
    <p class="text-center px-2 lg:px-8
    text-lg md:text-xl mt-2">
      Anthropogenic activities are holding massive pressure on the ecosystem.
      Hence effective lifestyle changes are to be adopted immediately for a
      sustainable future. Recycling and Reusing has the potential to be an
      important strategy for long run sustainability. The sustainable goals
      adopted as a part of agenda 2030 by UN Membership States points to a
      direction in this path. The SDG12 made to ensures sustainable consumption
      and production pattern, challenges us to rethink on liners,
      make-take-waste models and provides an important call to action for
      business and consumers.
    </p>
    <br />
    <br />
    <h2 class="text-center text-2xl md:text-3xl font-semibold mb-4">
      Meet the team
    </h2>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(240px,1fr))] gap-8">
      {
        teams.map((team) => (
          <Team image={team.image} position={team.position} name={team.name} />
        ))
      }
    </div>
    <div>
      <Social />
    </div>
  </div>
</Layout>
