---
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
import { MobileMenu } from "../components/MobileMenu.jsx";
---

<Layout
  title="Home"
  description="Kroenger is an environment related content creator"
  isHome={true}
>
  <div class="wrapper h-screen">
    <div class="indexNavBar-s z-20 w-full flex absolute justify-between px-4">
      <div>
        <img
          src="kroenger_logo_transparent.png"
          alt="kroenger"
          class="w-auto h-12 md:h-20 mt-2"
        />
      </div>
      <div
        class="menuList
      text-md sm:text-md md:text-lg lg:text-lg xl:text-xl
      gap-x-4 sm:gap-x-6 md:gap-x-8"
      >
        <MobileMenu client:visible />
        <a href="about" aria-label="about"><div>About</div></a>
        <a href="eco-friendly-tips" aria-label="eco-friendly-tips"
          ><div>Eco-friendly Tips</div></a
        >
        <a href="calendar" aria-label="calendar"><div>Calendar</div></a>
        <a
          href="wildlife-biology-careers-and-oppurtunities"
          aria-label="wildlife"><div>Wildlife Biology</div></a
        >
        <a
          href="https://www.typinks.com/categories/kroenger.html"
          aria-label="blog"
          ><div>Blog</div>
        </a>
      </div>
    </div>
    <div
      class="absolute w-screen h-screen z-10 flex justify-center items-center flex-col text-white bg-[#011627ad] text-center
    gap-y-12 md:gap-y-12"
    >
      <h1 class="text-xl font-semibold
      md:text-xl md:font-bold">
        Sustainable Things are Rare
      </h1>
      <p class="text-5xl md:text-5xl font-bold">SCAVENGE TO SURVIVE</p>
      <a href="#about" aria-label="learn more">
        <button
          class="text-secondary bg-primary hover:bg-secondary hover:text-primary font-bold p-4 rounded-2xl text-xl"
          >Learn More!</button
        >
      </a>
    </div>
    <div class="home-1 h-screen w-screen aspect-square"></div>
    <div
      class="relative text-center px-[20%] py-[5%] z-2 bg-white h-screen flex flex-col gap-y-4 sm:gap-y-6 md:gap-y-8 lg:gap-y-10
    text-md sm:text-lg md:text-xl lg:text-2xl"
      id="about"
    >
      <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl">About us</h2>
      <p class="font-extrabold">
        The planet is no more living, but is surviving tough challenges.
      </p>
      <p>
        Climate change, Booming population, Degrading ecosystems, etc. are some
        of the devastating situations we are going through. Adverse climatic
        conditions, lack of natural resources and reduce in ecosystem services
        had put the life of all living beings at stake. In the global level, UN
        and other governmental and non-governmental organizations are on the
        path to uphold the need of a paradigm shift in the economy to mitigate
        the future adverse conditions. It is high time that we shift from a
        profit driven economy to a sustainable one.
      </p>
      <p>
        Kroenger is a not-for-profit organization formed to promote recycling
        and reusing to ensure sustainable development and responsible
        consumption. Our aim is to create an alert community that strives for a
        Sustainable and Eco friendly future.
      </p>
    </div>
    <div
      class="absolute flex flex-col lg:flex-row items-center justify-around z-5 text-white text-center bg-[#011627A6] h-screen w-full
    font-semibold
    text-lg md:text-xl lg:text-2xl
    gap-x-16 p-8"
    >
      <div class="flex flex-col gap-y-4">
        <div class="text-gray-400">
          We don’t inherit the earth from our ancestors, we borrow it from our
          children
        </div>
        <h2 class="text-center">You know the basics, yah that's it.</h2>
        <hr />
        <h2 class="text-center">Reuse</h2>
        <div class="text-gray-400">
          Simply reuse things that get your objectives done.
        </div>
        <hr />
        <h2 class="text-center">Reduce</h2>
        <div class="text-gray-400">
          Reduce as much as you can because "use less" is not that useless
        </div>
        <hr />
        <h2 class="text-center">Recycle</h2>
        <div class="text-gray-400">Recycle is the key to sustainability</div>
      </div>
      <div class="text-bold text-2xl md:text-3xl lg:text-4xl">
        Things won't get sustainable easily, but once you establish your
        benchmark, you yourself can change the world!
      </div>
    </div>
    <div class="home-2 h-screen w-full"></div>
    <div class="relative text-center min-h-[25vh] z-2 bg-white">
      <Social />
    </div>
  </div>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  main {
    max-width: 60ch;
  }

  .indexNavBar {
    width: 95%;
    height: 2vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 3rem 3rem;
  }

  .indexNavBar > div {
    width: 60%;
  }

  .indexNavBar > div > img {
    width: 13rem;
  }

  .menuList {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2.1rem;
  }

  .menuList > a {
    text-decoration: none;
    color: white;
  }

  .menuList > a > div:hover {
    transform: scale(1.2);
    color: var(--bg-primary);
  }

  .learnMoreButtonHome:hover {
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
  }

  .wrapper {
    perspective: 10px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .infoList {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    width: 34%;
  }

  .infoList > div {
    text-align: left;
    color: #b3b3b3;
    padding-block: 1rem;
  }

  .infoList > div:nth-child(1) {
    text-align: left;
    color: #b3b3b3;
    padding-block: 1rem;
  }

  .infoList > hr {
    width: 100%;
    background-color: aqua;
    height: 0.0102rem;
  }

  .home-1,
  .home-2 {
    z-index: -1;
  }

  /* Small screens */
  @media only screen and (max-width: 640px) {
    .indexNavBar > div > img {
      width: 10rem;
    }

    .infoList {
      display: flex;
      flex-direction: column;
      font-weight: bolder;
      width: 85%;
    }

    .infoList > div {
      text-align: center;
      color: #b3b3b3;
      padding: 0;
    }

    .infoList > div:nth-child(1) {
      text-align: center;
      color: #b3b3b3;
    }

    .infoList > hr {
      width: 100%;
      background-color: aqua;
      height: 0.0102rem;
    }

    .menuList > a {
      display: none;
    }

    .menuList {
      margin-top: 1.1rem;
    }

    .home-1 {
      background-image: url("../home-mobile-1.jpeg");
    }

    .home-2 {
      background-image: url("../home-2.jpeg");
      background-position-x: 25%;
      background-position-y: 35%;
      background-size: 200% 100%;
    }
  }

  /* Large screens */
  @media only screen and (min-width: 640px) {
    .home-1 {
      background-image: url("../home-1.jpeg");
      background-size: 110% 150%;
    }

    .home-2 {
      background-image: url("../home-2.jpeg");
      background-position-x: 25%;
      background-position-y: 45%;
      background-size: 110% 150%;
    }
  }
</style>
